* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}

.boldtext {
  font-weight: bold;
}


.navbar {
  background: linear-gradient(180deg, #5773f0 0%, #626265 100%) !important;
  height: 35px;
}



.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background: linear-gradient(180deg, #626265 0%, #5773f0 100%) !important;
}

.navbar-links {
  display: none;
}

.hamburgermenu {
  margin-left: auto!important;
  margin-bottom: 25px!important;

}

.header {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-title {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  border-radius: 10px;
  font-size: 1.4rem !important;
  padding: 0.5rem;
}

.section-paper {
  padding: 1rem;
  max-width: 750px; 
  width: 100%;
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 12px auto;
  border-top: 2px solid #217dd9;
  width: 100%;
}

.about-section,
.booking-section,
.events-section {
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
}

.about-section h2,
.booking-section h2,
.events-section h2 {
  text-align: center;
  margin: 5px 0 15px 0;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.booking-section .MuiButton-root {
 margin-top: 1rem;
 align-self: center;
 width: 8rem;
}

.events-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.event-card {
  padding: 1rem;
  text-align: center;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  
  border: 1px solid black;
}

.event-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
}

.event-footer {
  margin-top: 1.5rem;
}

.events-section .MuiButton-root {
  width: 8rem;
 }






@media (min-width: 700px) {
  .navbar-links {
    display: inline-block;
    margin-right: 2rem; 
    text-decoration: none; 
  }

  .navbar-links:hover {
    transform: scale(1.1);
    text-decoration: underline 1px solid red;
  }

  .links-content {
    margin-left: auto; 
    margin-bottom: 1.8rem; /
  }
  .hamburgermenu {
    display: none !important;
  }
}
