* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boldtext {
  font-weight: bold;
}

.navbar {
  background: linear-gradient(180deg, #5773f0 0%, #626265 100%) !important;
}

.footer {
  background: linear-gradient(180deg, #626265 0%, #5773f0 100%) !important;
}

.navbar-links {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-title {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  border-radius: 10px;
  font-size: 1.4rem !important;
  padding: 0.5rem;
}

.about-section {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section h2 {
  text-align: center;
  margin: 5px 0 15px 0;
  font-size: 2rem;
}

.section-paper {
  padding: 1rem;
  max-width: 700px; 
  width: 100%;
}

.divider {
  margin: 12px auto;
  border-top: 2px solid #217dd9;
  width: 100%;
}

@media (min-width: 800px) {
  .navbar-links {
    display: inline-block;
    margin-left: auto;
    margin-right: 1rem;
  }

  .hamburgermenu {
    display: none !important;
  }
}
